nav{
    background-color: #1C45C4;
}

.logo{
    height: 40;
}

.textB{
    font-weight: bold; 
}

.swiper-container {
    width: 100%;
    height: 60%;
    margin-left: auto;
    margin-right: auto;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.Contact{
    background-color: #D3D4DA;
    height: 100%;
    padding-top: 3%;
}

.Con{
    text-align: center;
}

.lineCon{
    border: 1px solid red;
    width: 3%;
}